.container{
    width: 1170px;
    margin: 0 auto;
    margin-bottom: 100px;
}
.big-box{
    width: 400px;
    height: 400px;
    background-color: red;
    margin: 0 auto;
    position: relative;
    cursor: pointer;
    -webkit-box-shadow: -9px 8px 35px 14px rgba(198,255,154,0.75); 
    box-shadow: -9px 8px 35px 14px rgba(198,255,154,0.75);
}
.small-box{
    width: 100px;
    height: 100px;
    background-color: yellow;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    transition-property: all;
    transition-duration: 1s;
    transition-timing-function: linear;
    transition-delay: 2s;
}
.small-box:hover{
    background-color: green;
    transform: translate(-50%,-50%) rotate(90deg);
}
.ball{
    width: 200px;
    height: 200px;
    background-color: purple;
    border-radius: 50%;
    position: relative;

    /* animation-name: jump;
    animation-duration: 3s;
    animation-delay: 1s;
    animation-timing-function: ease-in-out;
    animation-direction: reverse;
    animation-iteration-count: infinite; */

    animation: jump 3s 1s ease-in-out reverse infinite;
}  


@keyframes jump {
    0%   {top: 0px; left: 0px; background: red;}
    25%  {top: 0px; left: 100px; background: blue;}
    50%  {top: 100px; left: 100px; background: yellow;}
    75%  {top: 100px; left: 0px; background: green;}
    100% {top: 0px; left: 0px; background: red;}
  }